{% extends '@MauticCore/Default/content.html.twig' %}

{% block mauticContent %}event{% endblock %}

{% block headerTitle %}
    {% if entity.id %}
        {{ 'mautic.events.menu.edit'|trans({'%name%': entity.name}) }}
    {% else %}
        {{ 'mautic.events.menu.new'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="box-layout">
        <div class="col-md-12 height-auto">
            <div class="pa-md">
                {# Basic Information #}
                <h4>Basic Information</h4>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.eventExternalId) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.description) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.aboutEventC) }}
                    </div>
                </div>

                {# Dropdown Selections #}
                <h4>Event Configuration</h4>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.eventOrganizerC) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.eventRoundC) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.eventManagerNameC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.eventCityC) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.eventCountryC) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.eventFieldC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.activityStatusType) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.inviteTemplates) }}
                    </div>
                </div>

                {# Contact Information #}
                <h4>Contact & Management</h4>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.eventManagerEmailC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.isbnNumberC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_row(form.eventWireTransferDataC) }}
                    </div>
                </div>

                {# Date & Time Information #}
                <h4>Dates & Duration</h4>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.dateStart) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.dateEnd) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.eventStartDateC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.eventEndDateC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.durationHours) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.durationMinutes) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.abstractBookImageC) }}
                    </div>
                </div>

                {# Registration Deadlines #}
                <h4>Registration Deadlines</h4>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.earlyBirdRegDeadlineC) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.earlyRegDeadlineC) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.finalRegDeadlineC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.submissionDeadlineC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.deleted) }}
                    </div>
                </div>

                {# URLs Section #}
                <h4>Event URLs</h4>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.eventProgramUrlC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.historyUrlC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.eventSpeakersUrlC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.submissionUrlC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.eventFaqUrlC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.eventVenueUrlC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.visaUrlC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.registrationUrlC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.eventFacebookUrlC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.eventFeedbackUrlC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.eventTestimonialsUrlC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.websiteUrlC) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.easyPaymentUrlC) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.acceptRedirect) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.declineRedirect) }}
                    </div>
                    <div class="col-md-6">
                        {# Empty for layout balance #}
                    </div>
                </div>

                {# Financial Information #}
                <h4>Financial Information</h4>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.currencyId) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.budget) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    {#    {% if entity.id %}#}
    {#        <div id="event-contacts"#}
    {#             data-event-id="{{ entity.id }}"#}
    {#             data-contacts-url="{{ path('mautic_event_contacts', {'objectId': entity.id}) }}"#}
    {#             data-search-url="{{ path('mautic_event_contacts_search', {'objectId': entity.id}) }}"#}
    {#             data-attach-url="{{ path('mautic_event_contacts_attach', {'objectId': entity.id}) }}"#}
    {#             data-detach-url-template="{{ path('mautic_event_contacts_detach', {'objectId': entity.id, 'contactId': 'CONTACT_ID'}) }}"#}
    {#             data-remove-label="{{ 'events.contact.remove'|trans }}"#}
    {#             data-search-placeholder="{{ 'events.contact.search_placeholder'|trans }}">#}
    {#            <h3>{% trans %}events.contact.panel{% endtrans %}</h3>#}
    {#            <div class="form-group">#}
    {#                <select id="contact-search" class="form-control" multiple aria-label="{% trans %}events.contact.search_placeholder{% endtrans %}"></select>#}
    {#                <button id="attach-contacts" class="btn btn-primary mt-2" disabled>{% trans %}events.contact.attach{% endtrans %}</button>#}
    {#            </div>#}
    {#        </div>#}
    {#        {{ includeScript('plugins/MauticEventsBundle/Assets/js/events.js') }}#}
    {#    {% endif %}#}
{% endblock %}
