{% extends '@MauticCore/Default/content.html.twig' %}

{% block mauticContent %}event{% endblock %}

{% block headerTitle %}
    {% if entity.id %}
        {{ 'mautic.events.menu.edit'|trans({'%name%': entity.name}) }}
    {% else %}
        {{ 'mautic.events.menu.new'|trans }}
    {% endif %}
{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <div class="box-layout">
        {# Left: main content #}
        <div class="col-md-9 height-auto bdr-r">
            <div class="pa-md">
                {# Section quick links #}
                <ul class="nav nav-tabs mb-md" role="tablist">
                    <li role="presentation"><a href="#basic">Basic</a></li>
                    <li role="presentation"><a href="#dates">Dates</a></li>
                    <li role="presentation"><a href="#deadlines">Deadlines</a></li>
                    <li role="presentation"><a href="#urls">URLs</a></li>
                    <li role="presentation"><a href="#payment">Payment</a></li>
                </ul>

                {# Basic Information #}
                <h4 id="basic">Basic Information</h4>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.eventExternalId) }}</div>
                    <div class="col-md-6">{{ form_row(form.name) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.description) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.aboutEventC) }}</div>
                </div>

                {# Dates & Duration #}
                <h4 id="dates">Dates & Duration</h4>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.dateStart) }}</div>
                    <div class="col-md-6">{{ form_row(form.dateEnd) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.eventStartDateC) }}</div>
                    <div class="col-md-6">{{ form_row(form.eventEndDateC) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.durationHours) }}</div>
                    <div class="col-md-4">{{ form_row(form.durationMinutes) }}</div>
                    <div class="col-md-4">{{ form_row(form.abstractBookImageC) }}</div>
                </div>

                {# Registration Deadlines #}
                <h4 id="deadlines">Registration Deadlines</h4>
                <div class="row">
                    <div class="col-md-4">{{ form_row(form.earlyBirdRegDeadlineC) }}</div>
                    <div class="col-md-4">{{ form_row(form.earlyRegDeadlineC) }}</div>
                    <div class="col-md-4">{{ form_row(form.finalRegDeadlineC) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.submissionDeadlineC) }}</div>
                    <div class="col-md-6">{{ form_row(form.eventManagerEmailC) }}</div>
                </div>

                {# URLs Section #}
                <h4 id="urls">Event URLs</h4>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.websiteUrlC) }}</div>
                    <div class="col-md-6">{{ form_row(form.eventProgramUrlC) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.eventSpeakersUrlC) }}</div>
                    <div class="col-md-6">{{ form_row(form.submissionUrlC) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.eventFaqUrlC) }}</div>
                    <div class="col-md-6">{{ form_row(form.eventVenueUrlC) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.registrationUrlC) }}</div>
                    <div class="col-md-6">{{ form_row(form.visaUrlC) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.eventFacebookUrlC) }}</div>
                    <div class="col-md-6">{{ form_row(form.eventFeedbackUrlC) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.eventTestimonialsUrlC) }}</div>
                    <div class="col-md-6">{{ form_row(form.historyUrlC) }}</div>
                </div>

                {# Payment & Invoicing #}
                <h4 id="payment">Payment & Invoicing</h4>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.easyPaymentUrlC) }}</div>
                    <div class="col-md-6">{{ form_row(form.isbnNumberC) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-12">{{ form_row(form.eventWireTransferDataC) }}</div>
                </div>
                <div class="row">
                    <div class="col-md-6">{{ form_row(form.acceptRedirect) }}</div>
                    <div class="col-md-6">{{ form_row(form.declineRedirect) }}</div>
                </div>

                {{ form_row(form.buttons) }}
            </div>
        </div>

        {# Right: side panel (meta/config) #}
        <div class="col-md-3 height-auto">
            <div class="pr-lg pl-lg pt-md pb-md">
                <h5 class="mb-sm">Event Configuration</h5>
                {{ form_row(form.eventOrganizerC) }}
                {{ form_row(form.eventRoundC) }}
                {{ form_row(form.eventManagerNameC) }}
                {{ form_row(form.eventFieldC) }}
                {{ form_row(form.eventCountryC) }}
                {{ form_row(form.eventCityC) }}
                {{ form_row(form.activityStatusType) }}
                {{ form_row(form.inviteTemplates) }}

                <h5 class="mt-md mb-sm">Financial</h5>
                {{ form_row(form.currencyId) }}
                {{ form_row(form.budget) }}

                <h5 class="mt-md mb-sm">System</h5>
                {{ form_row(form.deleted) }}
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    {#    {% if entity.id %}#}
    {#        <div id="event-contacts"#}
    {#             data-event-id="{{ entity.id }}"#}
    {#             data-contacts-url="{{ path('mautic_event_contacts', {'objectId': entity.id}) }}"#}
    {#             data-search-url="{{ path('mautic_event_contacts_search', {'objectId': entity.id}) }}"#}
    {#             data-attach-url="{{ path('mautic_event_contacts_attach', {'objectId': entity.id}) }}"#}
    {#             data-detach-url-template="{{ path('mautic_event_contacts_detach', {'objectId': entity.id, 'contactId': 'CONTACT_ID'}) }}"#}
    {#             data-remove-label="{{ 'events.contact.remove'|trans }}"#}
    {#             data-search-placeholder="{{ 'events.contact.search_placeholder'|trans }}">#}
    {#            <h3>{% trans %}events.contact.panel{% endtrans %}</h3>#}
    {#            <div class="form-group">#}
    {#                <select id="contact-search" class="form-control" multiple aria-label="{% trans %}events.contact.search_placeholder{% endtrans %}"></select>#}
    {#                <button id="attach-contacts" class="btn btn-primary mt-2" disabled>{% trans %}events.contact.attach{% endtrans %}</button>#}
    {#            </div>#}
    {#        </div>#}
    {#        {{ includeScript('plugins/MauticEventsBundle/Assets/js/events.js') }}#}
    {#    {% endif %}#}
{% endblock %}
